<!-- will listen to the featureSelected event and execute onNavigate()-->
<!-- $event gives us access to the data that is passed -->
<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- at recipes should be displayed if loadedFeature is equal to recipe -->
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
        <!-- shopping list should not be displayed when loadedFeature is equal to recipe -->
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
