<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success mt-5">New Recipe</button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a
      href="#"
      class="list-group-item clearfix mt-2"
      *ngFor="let recipe of recipes">

      <div class="float-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <!-- <span class="pull-right"> -->
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive float-right"
          style="max-height: 70px;">
      <!-- </span> -->
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
